

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title> User info List </title>

     <style>
         table{
             width: 100%;
             border: 1px solid rgb(224, 26, 20);
         }
         table th{
            border: 1px solid rgb(231, 87, 19);
         }
         table tr td{
             border: 1px solid rgb(228, 71, 10);
         }

         /* alerntaives color */
         tr:nth-child(even){
             background-color: rgb(85, 140, 211);
             color: #ffffff;
         }
     </style>
 </head>
 <body>
     
    
    <h1>List of All Users</h1>
    <!-- Table of All Users -->
    <!-- showing first middle last name and email only to users -->
    <table>
        <tr>
            <th>S.N.</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>

        <!-- table's data -->
        <!-- <tr>
            <td>1</td>
            <td>Ram</td>
            <td>---</td>
            <td>Bahadur</td>
            <td>ram@gmail.com</td>
        </tr> -->

           <!-- table's data -->
           <!-- <tr>
            <td>1</td>
            <td>Ram</td>
            <td>---</td>
            <td>Bahadur</td>
            <td>ram@gmail.com</td>
        </tr> -->

           <!-- table's data -->
           <!-- <tr>
            <td>1</td>
            <td>Ram</td>
            <td>---</td>
            <td>Bahadur</td>
            <td>ram@gmail.com</td>
        </tr> -->

           <!-- table's data -->
         <tr>
            <td>1</td>
            <td>Ram</td>
            <td>---</td>
            <td>Bahadur</td>
            <td>ram@gmail.com</td>
        </tr> 

           <!-- table's data -->
           <tr>
            <td>1</td>
            <td>Ram</td>
            <td>---</td>
            <td>Bahadur</td>
            <td>ram@gmail.com</td>
        </tr>


    <!-- let's store dynamic datas -->
    {% for u in data %} 
    <!-- looping data in u  -->
    <tr>
        <!-- we are iterating data here -->
        <td>{{ u.id }}</td>
        <td>{{ u.first_name }}</td>
        <td>{{ u.middle_name }}</td>
        <td>{{ u.last_name }}</td>
        <td>{{ u.email }}</td>

    </tr>

    {% endfor %}


  </table>


 </body>
 </html>