
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title> Profile View Page </title>
 </head>
 <body>
     <h2>
         This is {{ request.user}}'s Profile!
     </h2>
     User Name: 
     {{ request.user }}<br>
     Email: {{ request.user.email}} <br>
     name: {{ request.user.get_full_name }} <br>
     Bio: {{ request.user.get_bio }} <br>

     <hr>

{% for msg in messages %}
      <b>Status: </b> {{ msg.status }}  <br>
      <b>Created At: </b>{{ msg.created_at }} <br>
      <b>UserName </b> {{ msg.user }} 
      <!-- email: <b> {{ msg.user.email }} </b> <br> -->

{% endfor  %}

     <br>
     <br>
     <hr>
     click <a href="{% url 'statusapp:create' %}">
         Here
     </a> To create 
     <a href="/statusapp/create/"> create</a>
     Status Message <br>
     <button>
         <a href="/accounts/logout-view/">
            logout
        </a>
     </button>

 </body>
 </html>