<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Template</title>
</head>
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    *{
        text-align: center;
    }
</style>
<body>

{% include 'header.html' %}
<h3>Welcome to base template.</h3>
<!--main block of tag code here--->
{%  block main_content %} {%  endblock %}
{% include 'services.html' %}
{% include 'home.html' %}
{% include 'footer.html' %}

{#  this is a commments only for humans not for machine program and browser ignores this  #}
</body>
</html>